# Тестовое задание

## Задание 1

In [1]:
import pandas as pd
path = ('кейс для аналитика.xlsx')
xl = pd.ExcelFile(path)
print(xl.sheet_names)

['задача', 'сообщения', 'звонки', 'оплаты', 'долги', 'структура']

## Звонки и сообщения

In [2]:
df1 = xl.parse('звонки')
df1

           ELS_NKR
0       7400204504
1       7400715365
2       7400635290
3       7400181048
4       7400291083
...            ...
127663  7400097099
127664  7400077435
127665  7400637713
127666  7400469844
127667  7400441580

[127668 rows x 1 columns]

In [3]:
df1.nunique()

ELS_NKR    75309
dtype: int64

In [4]:
df2 = xl.parse('сообщения')
df2

          ELS_NKR
0      7400143318
1      7400139649
2      7400143190
3      7400143009
4      7400140943
...           ...
57680  7400102034
57681  7400103685
57682  7400127841
57683  7400708530
57684  7400493935

[57685 rows x 1 columns]

In [5]:
df2.nunique()

ELS_NKR    57685
dtype: int64

In [6]:
df2=df2.ELS_NKR.value_counts().reset_index()
df2.rename( columns={'ELS_NKR':'COUNT', 'index':'ELS_NKR'}, inplace=True )
df2['TYPE']='сообщение'
df2

          ELS_NKR  COUNT       TYPE
0      7400986627      1  сообщение
1      7401590467      1  сообщение
2      7400271631      1  сообщение
3      7400596253      1  сообщение
4      7400054545      1  сообщение
...           ...    ...        ...
57680  7400641871      1  сообщение
57681  7400691237      1  сообщение
57682  7400463702      1  сообщение
57683  7400461655      1  сообщение
57684  7401541318      1  сообщение

[57685 rows x 3 columns]

In [7]:
df1=df1.ELS_NKR.value_counts().reset_index()
df1.rename( columns={'ELS_NKR':'COUNT', 'index':'ELS_NKR'}, inplace=True )
df1['TYPE']='звонок'
df1

          ELS_NKR  COUNT    TYPE
0      7401479980     16  звонок
1      7400165248     15  звонок
2      7401235399     14  звонок
3      7400263294     13  звонок
4      7401281347     13  звонок
...           ...    ...     ...
75304  7401099107      1  звонок
75305  7400058727      1  звонок
75306  7400824681      1  звонок
75307  7400596701      1  звонок
75308  7400988668      1  звонок

[75309 rows x 3 columns]

In [8]:
df_action=pd.concat([df1,df2])
df_action.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132994 entries, 0 to 57684
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ELS_NKR  132994 non-null  int64
 1   COUNT    132994 non-null  int64
 2   TYPE     132994 non-null  object
dtypes: int64(2), object(1)
memory usage: 4.1+ MB

In [9]:
# получали и звонки и сообщение
df_action.ELS_NKR.count()-df_action.ELS_NKR.nunique()

24974

In [10]:
# удаляю клиентов с двумя видами воздействия
df_action.drop_duplicates(subset=['ELS_NKR'], keep=False, inplace=True)
df_action.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83046 entries, 1 to 57682
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ELS_NKR  83046 non-null  int64
 1   COUNT    83046 non-null  int64
 2   TYPE     83046 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.5+ MB

## Долги

In [11]:
df3 = xl.parse('долги')
df3

          ELS_NKR       STRATEGY_CODE  SALDO_OUT
0      7400886532  контрольная группа  107739.68
1      7400778246  контрольная группа  106259.49
2      7401525575  контрольная группа   98060.22
3      7401530988  контрольная группа   76275.24
4      7400857074  контрольная группа   74222.53
...           ...                 ...        ...
16511  7401656094           стратегия        NaN
16512  7401656110           стратегия        NaN
16513  7401656120           стратегия        NaN
16514  7400426153           стратегия        NaN
16515  7401644340           стратегия        NaN

[16516 rows x 3 columns]

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16516 entries, 0 to 16515
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ELS_NKR        16516 non-null  int64
 1   STRATEGY_CODE  16516 non-null  object
 2   SALDO_OUT      15191 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 387.2+ KB

In [13]:
# уникальных клиентов
df3.ELS_NKR.nunique()

16516

In [14]:
# клиенты без задолженности
df3[df3.isnull().any(1)].STRATEGY_CODE.value_counts()

стратегия             1225
контрольная группа     100
Name: STRATEGY_CODE, dtype: int64

In [15]:
# удаляю клиентов без задолженности
df_debt=df3.dropna()
df_debt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15191 entries, 0 to 15290
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ELS_NKR        15191 non-null  int64
 1   STRATEGY_CODE  15191 non-null  object
 2   SALDO_OUT      15191 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 474.7+ KB

## Оплата

In [16]:
df4 = xl.parse('оплаты')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003859 entries, 0 to 1003858
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   SUM_OPL  1003859 non-null  float64
 1   ELS_NKR  1003849 non-null  float64
dtypes: float64(2)
memory usage: 15.3 MB

In [17]:
df4.dropna(inplace=True)
df4['ELS_NKR']=df4['ELS_NKR'].apply(lambda x: int(x))
df4.head()

   SUM_OPL     ELS_NKR
0   175.00  7400867015
1  1830.00  7400867016
2   251.09  7400867017
3   374.31  7400867018
4   150.00  7400867019

In [18]:
# уникальных клиентов, которые внесли оплату
df4.ELS_NKR.nunique()

969078

In [19]:
# суммирую оплаты по каждому клиенту
df_payment=df4.groupby(['ELS_NKR'])['SUM_OPL'].sum().reset_index()

In [20]:
df_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969078 entries, 0 to 969077
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ELS_NKR  969078 non-null  int64
 1   SUM_OPL  969078 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 14.8 MB

## Итоговая таблица

In [21]:
df=pd.merge(df_debt, df_action, how='left', on=['ELS_NKR'])
df.head()

      ELS_NKR       STRATEGY_CODE  SALDO_OUT  COUNT TYPE
0  7400886532  контрольная группа  107739.68    NaN  NaN
1  7400778246  контрольная группа  106259.49    NaN  NaN
2  7401525575  контрольная группа   98060.22    NaN  NaN
3  7401530988  контрольная группа   76275.24    NaN  NaN
4  7400857074  контрольная группа   74222.53    NaN  NaN

In [22]:
df=pd.merge(df, df_payment, how='left', on=['ELS_NKR'])
df.head()

      ELS_NKR       STRATEGY_CODE  SALDO_OUT  COUNT TYPE  SUM_OPL
0  7400886532  контрольная группа  107739.68    NaN  NaN   4936.5
1  7400778246  контрольная группа  106259.49    NaN  NaN      NaN
2  7401525575  контрольная группа   98060.22    NaN  NaN      NaN
3  7401530988  контрольная группа   76275.24    NaN  NaN   1000.0
4  7400857074  контрольная группа   74222.53    NaN  NaN      NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15191 entries, 0 to 15190
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ELS_NKR        15191 non-null  int64
 1   STRATEGY_CODE  15191 non-null  object
 2   SALDO_OUT      15191 non-null  float64
 3   COUNT          3630 non-null   float64
 4   TYPE           3630 non-null   object
 5   SUM_OPL        4092 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 830.8+ KB

In [24]:
df['TYPE'].fillna('без воздействия', inplace=True)
df.pivot_table(index='STRATEGY_CODE', columns='TYPE', values='ELS_NKR', aggfunc='count').fillna(0)

TYPE                без воздействия  звонок  сообщение
STRATEGY_CODE
контрольная группа           2257.0     0.0        3.0
стратегия                    9304.0   152.0     3475.0

In [25]:
#  оставляю только нужные данные
df=df[((df['STRATEGY_CODE']=='контрольная группа') & (df['TYPE']=='без воздействия'))|((df['STRATEGY_CODE']=='стратегия') & (df['TYPE']!='без воздействия')) ]

In [26]:
df_exp=df.pivot_table(index='STRATEGY_CODE', columns='TYPE', values='ELS_NKR', aggfunc='count').fillna(0)
df_exp

TYPE                без воздействия  звонок  сообщение
STRATEGY_CODE
контрольная группа           2257.0     0.0        0.0
стратегия                       0.0   152.0     3475.0

In [27]:
df.head()

      ELS_NKR       STRATEGY_CODE  SALDO_OUT  COUNT             TYPE  SUM_OPL
0  7400886532  контрольная группа  107739.68    NaN  без воздействия   4936.5
1  7400778246  контрольная группа  106259.49    NaN  без воздействия      NaN
2  7401525575  контрольная группа   98060.22    NaN  без воздействия      NaN
3  7401530988  контрольная группа   76275.24    NaN  без воздействия   1000.0
4  7400857074  контрольная группа   74222.53    NaN  без воздействия      NaN

In [28]:
#   функция для расчета стоимости воздействия. На вход:
# row - строка df, m - стоимость сообщения, c- стоимость звонка  
def costs(row):
    m=2
    c=10
    if row['STRATEGY_CODE']=='стратегия':
        if row['TYPE']=='звонок':
            return row['COUNT']*c
        elif row['TYPE']=='сообщение':
            return row['COUNT']*m
    else: return 0

In [29]:
df['COSTS']=df.apply(costs, axis=1)
df.sort_values('COSTS', ascending=False)

,ELS_NKR,STRATEGY_CODE,SALDO_OUT,COUNT,TYPE,SUM_OPL,COSTS
2527,7400075447,стратегия,40775.18,2.0,звонок,1541.54,20.0
3241,7400166695,стратегия,21648.23,2.0,звонок,17940.23,20.0
3207,7400291083,стратегия,22156.06,2.0,звонок,9647.81,20.0
2436,7401311172,стратегия,47957.63,2.0,звонок,42878.86,20.0
3218,7401395006,стратегия,22023.12,2.0,звонок,2950.00,20.0
...,...,...,...,...,...,...,...
1514,7400912323,контрольная группа,3440.40,NaN,без воздействия,NaN,0.0
1515,7401407325,контрольная группа,3436.52,NaN,без воздействия,437.11,0.0
1516,7400558382,контрольная группа,3435.84,NaN,без воздействия,1600.00,0.0
1517,7400625009,контрольная группа,3429.75,NaN,без воздействия,200.00,0.0
0,7400886532,контрольная группа,107739.68,NaN,без воздействия,4936.50,0.0

In [30]:
df_acc=df.groupby(['STRATEGY_CODE', 'TYPE'])[['SALDO_OUT', 'SUM_OPL', 'COSTS']].sum()
df_acc['PAYMENTS_%']=round(df_acc['SUM_OPL']/df_acc['SALDO_OUT']*100,1)
df_acc

                                      SALDO_OUT     SUM_OPL   COSTS  \
STRATEGY_CODE      TYPE
контрольная группа без воздействия  17744073.45  1406133.23     0.0
стратегия          звонок            5131456.33  1253260.45  1570.0
                   сообщение        28276573.50  4402694.47  6950.0

                                    PAYMENTS_%
STRATEGY_CODE      TYPE
контрольная группа без воздействия         7.9
стратегия          звонок                 24.4
                   сообщение              15.6

In [31]:
#  распределение должников по группам воздействия
df_debtors=pd.DataFrame(df.groupby(['STRATEGY_CODE', 'TYPE']).ELS_NKR.count())
df_debtors

                                    ELS_NKR
STRATEGY_CODE      TYPE
контрольная группа без воздействия     2257
стратегия          звонок               152
                   сообщение           3475

In [32]:
# количество должников, внесших оплату
df_payers=pd.DataFrame(df[df['SUM_OPL']>0].groupby(['STRATEGY_CODE', 'TYPE']).ELS_NKR.count())
df_payers

                                    ELS_NKR
STRATEGY_CODE      TYPE
контрольная группа без воздействия      578
стратегия          звонок               152
                   сообщение           1230

In [33]:
df_res=pd.merge(df_debtors, df_payers, left_index=True, right_index=True)
df_res.rename(columns={'ELS_NKR_x': 'debtors', 'ELS_NKR_y': 'payers'}, inplace=True)
df_res['conversion, %']=round(df_res['payers']/df_res['debtors']*100,1)
df_res
# df_res.to_excel('Эффект_воздействия.xlsx')

                                    debtors  payers  conversion, %
STRATEGY_CODE      TYPE
контрольная группа без воздействия     2257     578           25.6
стратегия          звонок               152     152          100.0
                   сообщение           3475    1230           35.4

## Задание 2

In [ ]:
--сообщения
SELECT 
    ELS_NKR
FROM MESSENGERS_FEEDBACK_HISTORY
WHERE (RESULT_DATE BETWEEN '01.11.2021' AND '30.11.2021') AND RESULT_ROW='доставлено'

--звонки
SELECT 
    ELS_NKR
FROM ROBOT_FEEDBACK_HISTORY
WHERE (CALL_DATE BETWEEN '01.11.2021' AND '30.11.2021') AND RESULT_ROW='успешно'

--долги и оплаты
SELECT *
FROM
   (SELECT 
        T1.ELS_NKR AS ELS_NKR,
        T2.STRATEGY_CODE AS STRATEGY_CODE,
        T1.SALDO_OUT AS SALDO_OUT -- при условии автоматического сальдирования на начало месяца
   FROM EE_DATA_FULL AS T1 
   LEFT JOIN 
   HISTORY_SEGMENTS AS T2 USING(ELS_NKR)
   WHERE T1.MONTH_='ноябрь' AND T1.YEAR_='2021') AS DEBT

LEFT JOIN

   (SELECT 
        ELS_NKR,
        SUM_OPL
    FROM EE_DAYS_PAYS
    WHERE DATE_OPL BETWEEN '01.11.2021' AND '30.11.2021') AS PAYMENT ON DEBT.ELS_NKR=PAYMENT.ELS_NKR